<div class="intro">
  <div class="part1">
    Interart is an <span class="w" style="color:#466675">online community</span> for <span class="w"  style="color:#67764e">artists</span> to get <span class="w"  style="color:#ac8a72">inspiration and feedback</span> for their <span class="w"  style="color:#6a4a75">works in progress</span>
  </div>

  <div class="part2">
    <div class="p">
      Members of Interart can:
    </div>
    <div class="p">
      1) Create artist profiles
    </div>
    <div class="p">
      2) Upload their pieces of artwork
    </div>
    <div class="p">
      3) Give and receive suggested edits and comments
    </div>
    <div class="p">
      4) Upload updated versions of pieces based on comments
    </div>
  </div>
  
</div>