<style>
  #header{
    position:fixed;
    top:0px;
    width:98%;
    z-index:1000;
  }

  #home{
    margin-top: 80px;
  }
</style>
<div id="home">
  <div class="art-feed">
    <div class="title">
      ARTFEED
    </div>
    <div class="search">
      <div class="categories-button">
        <div class="text">
          CATEGORIES
        </div>
        <div class="down-arrow">
          
        </div>
      </div>
      <div class="cat-dropdown">
        <% Category.all.each do |c| %>
          <div class="cat-item">
            <%= c.name %>
          </div>
        <% end %>
      </div>
      <div class="tag">
        <%= form_tag "/", :id => "xz" do %>
          <%= text_field_tag :tag, nil, :placeholder => "search by tag", :id => "tag-field" %>
        <% end %>
      </div>
    </div>
    <div class="feed-cont">
      <%= render "shared/feed", :pieces => Piece.all %>
    </div>
    </div>
</div>

<script>
  
</script>