
 /* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face {
  font-family: 'ProximaNova';
  
  src:url('/assets/fonts/ProximaNova/ProximaNova-Regular.otf') format('opentype');
    
  
}

#new-piece .button{
  background-color: #0C5070;
  color: white;
  border-radius: 9px;
  padding: 10px;
  padding-left: 20px;
  width: 69px;
  margin-left: 50px;
  margin-top: 15px;
}

 #new-piece .button:hover {
   background-color: #F3B446;
 }

#new-piece .file-name{
  padding:10px;
}

#annotate{
  background-color: #E0E1E9;
  margin-top: 10px;
  padding: 30px;
}

#annotate-inner{
  width:1100px;
  margin-left: auto;
  margin-right: auto;
}

#interface{
  vertical-align: top;
  color: #000324;
  font-size: 15px;
}

#thickness{
  margin-top: 10px;
}

#interface input {
  border: none;
  font-size: 15px;
  color: white;
  background-color: #000324;
  border-radius: 5px;
  margin-top: 10px;
}

 #interface input:hover {
   background-color: #F3B446;
 }

#comment{
  background-color: white;
  color:black;
  padding:10px;
  border-radius:9px;
}

#comment .username {
  margin-bottom: 10px;
}

#tool{
  margin-top: 10px;
}

#options .color{
  width:35px;
  height:35px;
  border: none;
  margin: 2px;
}

#colors{
  width:300px;
}

#interface #title{
  font-size: 20px;
  margin-bottom: 10px;
}

body{
  margin:10px;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/*piece show*/
#comments{
  background-color:#EEF0ED;
  width:700px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

#comments .title{
  font-size: 18px;
  font-weight:bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

#annotate{

}

#interface{
  display:inline-block;
  width:350px;
}

#sketch{
  display:inline-block;
}

.comments{
  border-radius:9px;
  border:2px solid #cccccc;
  background-color: white;
  padding:15px;
  
}

.right{
  display:inline-block;
}

.new-comment textarea{
  width:400px;
  height:50px;
}

.current-name{
  font-weight:bold;
}

.new-image{
  background-color:#ebebeb;
  border:2px dashed #bbbbbb;
  color:#999999;
  height:75px;
  padding-top: 15px;
  width:70px;
  padding-left: 10px;
  padding-right: 10px;
  text-align:center;
  display:inline-block;
  margin-right: 10px;
  vertical-align: top;

}
/*end piece show*/

/*heaer stuff*/
#header{
  height:80px;
  background-color: #000324;
  box-shadow: 0px 5px 10px #888;
}

#header .cat-dropdown{
  display:none;
  position:absolute;
  top:54px;
  left:20px;
  background-color: white;
  border-radius:3px;
  border:1px solid black;
  width:200px;
  z-index:10;
  padding:3px;
}

.ht img{
  height:30px;
  width:30px;
}

.ht{
  float:right;
  position:relative;
  right:10px;
}

#left-cont .heart-count{
  display:inline-block;
  font-size: 20px;
  position:relative;
  bottom:7px;
}

#left-cont .label, #left-cont .ht{
  display:inline-block;
  vertical-align: top;
}

#header .cat-dropdown .cat-item:hover{
  background-color: #eeeeee;
  border:1px solid #bbbbbb;
}

#header .cat-dropdown .cat-item{
  display:block;
  padding:5px;

}



#header .categories-button{
  position: relative;
}

#header .search{
  position: relative;
  width:400px;
  display:inline-block;
  float:left;
}

#header .nav{
  width:600px;
  display:inline-block;
  float:right;
}

#header .title{
  width:300px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  padding-top: 20px;
  font-size: 30px;
  color: #E5E8E3;
}

#header .bold{
  font-weight:bold;
  
}

#header .categories-button div:not(.cat-dropdown):not(.cat-item){
  display:inline-block;
}

#header .categories-button{
  background:white;
  border-radius:4px;
  border:1px solid #b3b3b3;
  padding:5px;
  width:130px;
  display:inline-block;
}

#header .tag{
  display:inline-block;

}

#header #tag-field{
  padding:5px;
  font-size: 16px;
  border-radius:4px;
  border:1px solid #b3b3b3;
  width:240px;
  
  background:url("/assets/mag.png") no-repeat right;
  background-size: 20px 20px;
  background-color: white;
  background-position-x:223px;
  position:relative;
  top:1px;
}

#header .nav{
  position:relative;
  bottom:32px;
  color:white;
}

#header .nav img{
  width: auto;
  height: 20px;
  
}

#header .nav a > div{
  margin-right: 30px;
  color:white;
}



#header .nav div{
  float:right;
  height:30px;
}

#header .nav .word{
  position: relative;
  bottom: 22px;
  margin-left: 4px;
  padding-right: 7px;
}

.nav .home{
  border-bottom:4px solid #178F8F;
}

.nav .signup{
  border-bottom:4px solid #67764e;
}

.nav .login{
  border-bottom:4px solid #ac8a72;
}

.nav .profile{
  border-bottom:4px solid #F3B446;
}

.nav .upload{
  border-bottom:4px solid #0C5070;
}

.nav .logout{
  border-bottom:4px solid #E5E8E3;
}

#header .down-arrow{
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-top: 5px solid #000;
  position:relative;
  bottom:3px;
  left:4px;
}

#header .search{
  padding-top:20px;
  padding-left:20px;
}
/*end header stuff*/



/*feed stuff*/
#home{
  width:1050px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
.art-feed{
  background-color: #EEF0ED;
  width:1025px;
  padding-left: 25px;
  box-shadow: 0px 20px 50px #999;
}

.art-feed .category, .art-feed .tag{
  margin-left:480px;
  font-size: 18px;
}

.art-feed .title{
  margin-left:auto;
  width:100px;
  margin-right: auto;
  font-size: 28px;
  position: relative;
  right: 25px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #178F8F;
}

.piece .cont{
  height:84px;
}

.pieces{
  margin-top: 10px;
}

.piece .img-cont img{
  width:210px;
  height:210px;
    padding:8px 8px 8px 8px;
}

.misc .likes{
  width:70px;
  /*margin-left: 15px;*/
  padding-top: 5px;
  padding-bottom: 5px;
}

.misc .num{
  position:relative;
  bottom:4px;
}

#header a{
  color:black;
  text-decoration: none;
}

.misc{
  border-top: 1px solid #ccc;
  background-color: #D5DDE0;
}

.misc .heart{
  border-left: 1px solid #eee;
  padding: 5px 5px 5px 15px;
}

.misc .views{
  width:70px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 15px;
}

.heart-count{
  position:relative;
  bottom:4px;
  margin-left: 3px;
}

.art-feed .misc div{
  display:inline-block;
}

.art-feed .piece{
  display:inline-block;
  margin-right:20px;
  margin-bottom:20px;
  background-color: white;
  overflow:hidden;
  border: 1px solid #D6D5D5;
  border-radius: 8px;
  height:358px;
  color:black;
}

.art-feed .piece .name{
  font-size: 18px;
  color: #178F8F;
}

.intro .w{
  font-size: 28px;
  font-weight:bold;
}

.intro{
  margin-left: auto;
  margin-right: auto;
  width:500px;
  margin-top: 20px;
}

.intro .part1{
  font-size: 20px;
}

.intro .part2{
  margin-right: auto;
  margin-left: auto;
  width:400px;
}

.art-feed .cont{
  padding:10px;
  padding-top:0px;
}

.misc img{
  width: auto;
  height:20px;
  opacity: .6;
}

.likes img{
  width:20px;
}

#sign-up, #login{
  color:#4d4d4d;
}

#sign-up #title, #login #title{
  font-size: 28px;
  text-align: center;
}

#piece-dash{
  color: #000324;
}

#piece-dash .label{
  font-size: 30px;
}

#piece-dash .content{
  font-size: 20px;
  /*width:540px;*/
}

#piece-dash #author{
  font-size: 16px;
}

#piece-dash #description, #piece-dash #desired-feedback{
  margin-top: 40px;
}

#piece-dash .label{
  padding-bottom: 10px;
  color: #0C5070;
}

/* end feed stuff*/

.part2{
  margin-top: 20px;
}

#sign-up, #login{
  width:300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #E0DFD9;
  padding:40px;
  border-radius: 10px;
}

#sign-up-button{
  width:293px !important;
  background-color: black;
  color:white;
  border-radius: 10px;
}

#sign-up input, #login input{
  width:280px;
  padding:5px;
  font-size: 20px;
  margin-top: 10px;
  border:2px solid #b3b3b3;
}

#home #results{
  padding-top:20px;
  padding-left:80px;
}

#home .piece{
  width:226px;
}


#home #tag-filter{
  width:905px;
  font-size: 28px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:50px;
  background:url("/assets/mag.png") no-repeat left;
  background-size: 40px 40px;
}

#new-piece-inner{
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  background-color: #EEF0ED;
  margin-top: 20px;
  box-shadow: 0px 20px 50px #999;
  padding-bottom: 20px;
}

#new-piece #title2{
  font-size: 32px;
  text-align: center;
  padding: 20px;
  color: #0C5070;
}

#new-piece{
  
  padding-top: 20px;
  padding-bottom:100px;
}

#new-piece #upload img{
  width:100px;
  height:100px;
  margin-left: 50px;
  margin-top: 30px;
}

#new-piece #upload #picture{
  margin-left:30px;
  margin-top: 20px;
}

#new-piece #upload{
  height:250px;
  border-radius:8px;
  border: 1px solid #0C5070;
  background-color: white;
  width:200px;
  margin-left: 40px;
  display:inline-block;
  vertical-align: top;
}

#new-piece #text-fields{
  display:inline-block;
  width:600px;
  margin-left: 40px;
}

#new-piece .section textarea{
  height: 100px;
  width: 500px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 13px;
}

#new-piece #text-fields .section label{
  font-size: 14px !important;
}

#new-piece #text-fields .section{
  margin-bottom:10px;
  font-size: 20px;
}

#new-piece #text-fields input{
  width: 500px;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  padding-left: 20px;
  border-radius: 10px;
}

 #new-piece #text-fields .submt{
   background-color: #0C5070;
   color: #EEF0ED;
}

#new-piece #text-fields .submt:hover{
  background-color: #F3B446;
  border: none;
}

#new-piece #text-fields{
  /*width:200px;*/
}
/* user dash*/
#user-dash{
  width:1050px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  background-color: #EEF0ED;
  padding:20px;
  margin-top: 20px;
  box-shadow: 0px 20px 50px #999;
}

.info-full{
  display:none;
}

#user-dash .top{
  height: 30px;
}

#user-dash .title2{
  font-size: 30px;
  float:left;
  color: #F3B446;
}

#edit-user{
  margin-top: 60px;
  margin-left: 50px;
}

#edit-user input{
  width:300px;
  height:20px;
}

#edit-user textarea{
  width:300px;
  height:100px;
}

#user-dash .info{
  float:right;
}

#user-dash .section .title{
  font-size:18px;
}

#upload-edit{
  width:800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#user-dash .section{
  margin-top: 20px;
}

#user-dash .piece img{
  width: 190px;
  height: 190px;
  border-radius: 10px;
}

#user-dash .pieces{
  font-size:0px;
}

#user-dash .piece{
  margin: 20px;
  display:inline-block;
  position: relative;
  border: 1px solid #D5DDE0;
  border-radius: 10px;
}

#piece-dash .piece {
  height:358px;
  color:black;
}

#user-dash .piece .del img{
  width: 30px;
  height: 30px;
  position: relative;
  top: 6px;
  left: -6px;
}

#user-dash .piece:hover .del{
  display:block;
}

 #user-dash .del:hover .overlay{
   display:block;
 }

#user-dash .overlay:hover{
  display: none !important;
}

#user-dash .piece .del{
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
}

#user-dash .piece .overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 190px;
  width: 190px;
  background-color: #EEF0ED;
  opacity: 0.7;
  border-radius: 10px;
  display: none;
}

/*end user dash*/

#piece-dash #left{
  padding-top: 30px;
  padding-left: 30px;
  width: 370px;
  border-right: 5px solid white;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 400px;
  display: table-cell;
  max-width: 400px;
  padding-right: 30px;
  background: #E0E1E9;
}

#piece-dash{
  display:inline-block;
  width:100%;
  background: #E0E1E9;
}

#piece-dash #right{
  display:inline-block;
  display:table-cell;
  background: #E0E1E9;
}

.no{
  color:#444444;
}

/*piece dashboard*/
#piece-dash #title{
  font-size: 40px;
  padding-left: 40px;
  padding-top: 20px;
}

#comments #heading{
  margin-bottom: 10px;
}

.pr{
  color:#444444;
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 24px;

}

.opt{
  display:inline-block;
  margin: 10px;
}

.sx2{
  margin-left: 170px;
}

.tet{
margin-top: 10px;
}

.tet input[type=submit] {
  border: none;
  background-color: #0C5070;
  color: white;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

 .tet input[type=submit]:hover{
   background-color: #F3B446;
 }

.xz{
  width: 298px;
  height: 70px;
  border: solid 1px #B0C0C7;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.opt input, .opt a{
  padding:10px;
  font-size: 16px;
  color:white;
  background: #0C5070;
  border-radius: 9px;
  text-decoration: none;
  border: none;
}

.opt a:hover, .opt input:hover {
  background-color: #F3B446;
}

#piece-dash #heading{
  color:#444444;
  font-size: 24px;
  padding-top: 20px;
}

#piece-dash #author{
}

#piece-dash .version img{
  width:248px;
  height:248px;
  border-radius: 10px;
  border: 2px solid #D5DDE0;
}

#piece-dash .version{
  display:inline-block;
  
  margin-right:20px;
  margin-bottom: 20px;
  line-height: 0;
}

#piece-dash .version .version-title {
  padding-bottom: 20px;
}

#piece-dash #versions{
  padding-left: 30px;
  padding-right:30px;
  margin-top: 20px;
}

#piece-dash .current{
  /*box-shadow: 5px 5px 10px #888,0px 0px 10px #888; */
}

#piece-dash #comments{
  padding-left: 40px;
  padding-right:40px;
  margin: 20px;
  border-radius: 10px;
}

#piece-dash #comments-cont{
  border-radius: 10px;
  background-color: white;
  color:#333333;
  /*overflow:hidden;*/
  border:1px solid #b3b3b3;
}

.comment .edited-img img{
  width:90px;
  height: 90px;
}

.comment .edited-img{
  display:inline-block;
  padding-right: 15px;
}

#feedback{
  position:fixed;
  right:0px;
  bottom:0px;
  background-color: white;
  border-top:1px solid #555555;
  border-left:1px solid #555555;
}

.comment .content{
  display:inline-block;
  vertical-align: top;
  width:540px;
}

.comment .text{
  font-size: 16px;
}

#piece-dash .comment .commenter{
  font-size: 20px;
  font-weight:bold;
}



#piece-dash .comment{
  
  padding:20px;
  border-bottom:1px solid #b3b3b3;
  
}

#piece-dash .new_version{
  vertical-align: top;
  padding-top: 85px;
}

#piece-dash .details{
  display:inline-block;
}

#piece-dash .details > div{
  display:inline-block;
  width:450px;
}


/*end piece dashboard */
#comment-field{
  width:100px;
}

#comments .comment-img img{
  width:90px;
  height:90px;
}

#comments .comment-img{
  display:inline-block;
}

#comments .right{
  display:inline-block;

vertical-align: top;
  margin-left: 15px;
}

#comments .comment{
  position:relative;
}

#comments .popup img{
  width:400px;
  height:400px;
}

#comments .popup{
  position:absolute;
  top:-200px;
  left: -420px;
  display:none;
  background-color: white;
  border-radius:9px;
  overflow:hidden;
  z-index:100;
  box-shadow: 0px 0px 30px #888;
}

#comments .comment:hover .popup{
  display:block;
}

.piece .popup{
  font-size: 15px;
  position:absolute;
  top:0px;
  left:0px;
  display:none;
  background-color: white;
  z-index:20;
  overflow:hidden; 
  padding: 20px;
  opacity: 0.85;
  width: 186px;
}

.piece .popup .popup-title {
  font-weight: 400;
}

.piece{
  position:relative;
}

.piece .popup .desc{
  margin-bottom: 15px;
}

.piece:hover .popup{
  display:block;
}

.piece:hover {
  box-shadow: 3px 3px 10px #aaa;
}














