
 /* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
  /*font-family:"proxima-nova";*/
  margin:0px;
}

/*piece show*/
#comments{
  background-color:#dddddd;
  width:700px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

#comments .title{
  font-size: 18px;
  font-weight:bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

#annotate{
  width:968px;
  margin-left: auto;
  margin-right: auto;
}

.comments{
  border-radius:9px;
  border:2px solid #cccccc;
  background-color: white;
  padding:15px;
  
}

.right{
  display:inline-block;
}

.new-comment textarea{
  width:400px;
  height:50px;
}

.current-name{
  font-weight:bold;
}

.new-image{
  background-color:#ebebeb;
  border:2px dashed #bbbbbb;
  color:#999999;
  height:75px;
  padding-top: 15px;
  width:70px;
  padding-left: 10px;
  padding-right: 10px;
  text-align:center;
  display:inline-block;
  margin-right: 10px;
  vertical-align: top;

}
/*end piece show*/

/*heaer stuff*/
#header{
  height:80px;
  background-color: #CCCCCC;
}

#header .cat-dropdown{
  display:none;
  position:absolute;
  top:54px;
  left:20px;
  background-color: white;
  border-radius:3px;
  border:1px solid black;
  width:200px;
  z-index:10;
  padding:3px;
}

#header .cat-dropdown .cat-item:hover{
  background-color: #eeeeee;
  border:1px solid #bbbbbb;
}

#header .cat-dropdown .cat-item{
  display:block;
  padding:5px;

}



#header .categories-button{
  position: relative;
}

#header .search{
  position: relative;
  width:400px;
  display:inline-block;
  float:left;
}

#header .nav{
  width:600px;
  display:inline-block;
  float:right;
}

#header .title{
  width:300px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  padding-top: 20px;
  font-size: 30px;
}

#header .bold{
  font-weight:bold;
  
}

#header .categories-button div:not(.cat-dropdown):not(.cat-item){
  display:inline-block;
}

#header .categories-button{
  background:white;
  border-radius:4px;
  border:1px solid black;
  padding:5px;
  width:130px;
  display:inline-block;
}

#header .tag{
  display:inline-block;

}

#header #tag-field{
  padding:5px;
  font-size: 16px;
  border-radius:4px;
  border:1px solid black;
  width:240px;
  background-image:;
  background:url("/assets/mag.png") no-repeat right;
  background-size: 20px 20px;
  background-color: white;
  background-position-x:223px;
  position:relative;
  top:1px;
}

#header .nav{
  position:relative;
  bottom:32px;
  color:white;
}

#header .nav img{
  width:30px;
  height:30px;
  
}

#header .nav a > div{
  margin-right: 30px;
  color:white;
}



#header .nav div{
  float:right;
  height:30px;
}

#header .nav .word{
  position:relative;
  bottom:28px;
}

.nav .home{
  border-bottom:3px solid green;
}

.nav .signup{
  border-bottom:3px solid blue;
}

.nav .login{
  border-bottom:3px solid red;
}

.nav .profile{
  border-bottom:3px solid purple; 
}

.nav .upload{
  border-bottom:3px solid red;
}

.nav .logout{
  border-bottom:3px solid blue;
}

#header .down-arrow{
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-top: 5px solid #000;
  position:relative;
  bottom:3px;
  left:4px;
}

#header .search{
  padding-top:20px;
  padding-left:20px;
}
/*end header stuff*/



/*feed stuff*/
#home{
  width:1050px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
.art-feed{
  background-color: #E0DFD9;
  width:1025px;
  padding-left: 25px;
}

.art-feed .category, .art-feed .tag{
  margin-left:480px;
  font-size: 18px;
}

.art-feed .title{
  margin-left:480px;
  font-size: 28px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.piece{
  color:black;
}

.pieces{
  margin-top: 10px;
}

.piece .img-cont img{
  width:210px;
  height:210px;
    padding:8px 8px 8px 8px;
}

.misc .likes{
  width:70px;
  margin-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.misc .num{
  position:relative;
  bottom:4px;
}

.misc{
  border-top:2px solid #555555;
  background-color: #ebebeb;
}

.misc .heart{
  border-left:2px solid #555555;
  padding-top: 5px;
  padding-bottom: 5px;
}

.misc .views{
  width:100px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.art-feed .misc div{
  display:inline-block;
}

.art-feed .piece{
  display:inline-block;
  margin-right:20px;
  margin-bottom:20px;
  background-color: white;
  border-radius:0px 0px 5px 5px;
  overflow:hidden;
  border:2px solid #aaaaaa;
}

.art-feed .piece .name{
  font-size: 18px;
  font-weight:bold;
}

.art-feed .cont{
  padding:10px;
  padding-top:0px;
}

.misc img{
  width:30px;
  height:20px;
}
.likes img{
  width:20px;
}


/* end feed stuff*/

#sign-up, #login{
  margin-left:400px;
  margin-top: 100px;
}

#home #results{
  padding-top:20px;
  padding-left:80px;
}

#home .piece{
  width:226px;
}


#home #tag-filter{
  width:905px;
  font-size: 28px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:50px;
  background:url("/assets/mag.png") no-repeat left;
  background-size: 40px 40px;
}

#new-piece{
  background-color: #dddddd;
  padding-top: 20px;
  padding-bottom:100px;
}

#new-piece #upload img{
  width:100px;
  height:100px;
  margin-left: 50px;
  margin-top: 30px;
}

#new-piece #upload #picture{
  margin-left:30px;
  margin-top: 20px;
}

#new-piece #upload{
  margin-left:auto;
  margin-right: auto;
  width:200px;
  height:200px;
  border-radius:8px;
  border:2px dashed black;
  background-color: white;

}

#new-piece .section textarea{
  height:100px;
  width:200px;
}

#new-piece #text-fields .section label{
  font-size: 14px !important;
}

#new-piece #text-fields .section{
  margin-top:20px;
  font-size: 20px;
}

#new-piece #text-fields input{
  width:180px;
  font-size: 14px;
  padding-top:10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

#new-piece #text-fields{
  margin-left:auto;
  margin-right: auto;
  width:200px;
}
/* user dash*/
#user-dash{
  width:1050px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  background-color: #E0DFD9;
  padding:20px;
  margin-top: 20px;
}

.info-full{
  display:none;
}

#user-dash .top{
  height:40px;
}

#user-dash .title2{
  font-size: 30px;
  float:left;

}

#edit-user input{
  width:300px;
  height:20px;
}

#edit-user textarea{
  width:300px;
  height:100px;
}

#user-dash .info{
  float:right;
}

#user-dash .section .title{
  font-size:18px;
}

#user-dash .section{
  margin-top: 20px;
}

#user-dash .piece img{
  width:190px;
  height:190px;
}

#user-dash .pieces{
  font-size:0px;
}

#user-dash .piece{
  padding:20px;
  background-color: black;
  display:inline-block;
}

/*end user dash*/

/*piece dashboard*/
#piece-dash #title{
  font-size: 40px;
  padding-left: 40px;
  padding-top: 20px;
}

#piece-dash #author{
  font-size: 24px;
  padding-left: 40px;
}

#piece-dash .version img{
  width:248px;
  height:248px;
}

#piece-dash .version{
  display:inline-block;
  border:1px solid #aaaaaa;
  margin-right:20px;
  margin-bottom: 20px;
}

#piece-dash #versions{
  padding-left: 70px;
  padding-right:70px;
  margin-top: 20px;
}

#piece-dash .current{
  box-shadow: 5px 5px 10px #888,0px 0px 10px #888; 
}

#piece-dash #comments{
  padding-left: 70px;
  padding-right:70px;
  margin-top: 20px;
}

#piece-dash .comment .commenter{
  color:blue;
}

#piece-dash .comment{
  border:1px solid #aaaaaa;
  padding:10px;
  margin-bottom: 15px;
}

#piece-dash .new_version{
  position:relative;
  bottom:120px;
}

#piece-dash .details{
  display:inline-block;
}

#piece-dash .details > div{
  display:inline-block;
  width:450px;
}

/*end piece dashboard